<p><font size="6"><b>03 - Pandas: Indexing and selecting data - Part II</b></font></p>

> *Â© 2016, Joris Van den Bossche and Stijn Van Hoey  (<mailto:jorisvandenbossche@gmail.com>, <mailto:stijnvanhoey@gmail.com>). Licensed under [CC BY 4.0 Creative Commons](http://creativecommons.org/licenses/by/4.0/)*

---

In [1]:
import pandas as pd

In [2]:
# redefining the example objects

# series
population = pd.Series({'Germany': 81.3, 'Belgium': 11.3, 'France': 64.3, 
                        'United Kingdom': 64.9, 'Netherlands': 16.9})

# dataframe
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

<div class="alert alert-info" style="font-size:120%">
<b>REMEMBER</b>: <br><br>

So as a summary, `[]` provides the following convenience shortcuts:

<ul>
  <li><b>Series</b>: selecting a <b>label</b>:<code>s[label]</code></li>
  <li><b>DataFrame</b>: selecting a single or multiple <b>columns</b>: <code>df['col']</code> or <code>df[['col1', 'col2']]</code></li>
  <li><b>DataFrame</b>: slicing or filtering the <b>rows</b>: <code>df['row_label1':'row_label2']</code> or <code>df[mask]</code></li>
</ul>
</div>

# Changing the DataFrame index

We have mostly worked with DataFrames with the default *0, 1, 2, ... N* row labels (except for the time series data). But, we can also set one of the columns as the index.

Setting the index to the country names:

In [3]:
countries = countries.set_index('country')
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

Reversing this operation, is `reset_index`:

In [ ]:
# countries.reset_index('country')

# Selecting data based on the index

## Systematic indexing with `loc` and `iloc`

When using `[]` like above, you can only select from one axis at once (rows or columns, not both). For more advanced indexing, you have some extra attributes:
    
* `loc`: selection by label
* `iloc`: selection by position

Both `loc` and `iloc` use the following pattern:

`df.loc[ <selection of the rows> , <selection of the columns> ]`.

This 'selection of the rows / columns' can be: a single label, a list of labels, a slice or a boolean mask.

`loc` and `iloc` also prevent any ambiguity when indexing. One of pandas' basic features is the labeling of rows and columns, but this makes indexing also a bit more complex compared to numpy. 

We now have to distuinguish between:


- selection by **label** (using the row and column names)
- selection by **position** (using integers)

This is becomes very important if the row or column labels are numbers.

Selecting a single element:

In [4]:
countries.loc['Germany', 'area']

357050

But the row or column indexer can also be a list, slice, boolean array (see next section), ..

In [5]:
countries.loc['France':'Germany', ['area', 'population']]

           area  population
country
France   671308        64.3
Germany  357050        81.3

<div class="alert alert-danger">
<b>NOTE</b>:

 <ul>
  <li>Unlike slicing in numpy, the end label is **included**!</li>
</ul>
</div>

---
Selecting by position with `iloc` works similar as **indexing numpy arrays**:

In [7]:
countries.iloc[0:2,1:3]

           area   capital
country
Belgium   30510  Brussels
France   671308     Paris

---

The different indexing methods can also be used to **assign data**:

In [8]:
countries2 = countries.copy()
countries2.loc['Belgium':'Germany', 'population'] = 10

In [9]:
countries2

                population    area    capital
country
Belgium               10.0   30510   Brussels
France                10.0  671308      Paris
Germany               10.0  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

<div class="alert alert-info" style="font-size:120%">
<b>REMEMBER</b>: <br><br>

Advanced indexing with **loc** and **iloc**

 <ul>
  <li>**loc**: select by label: `df.loc[row_indexer, column_indexer]`</li>
  <li>**iloc**: select by position: `df.iloc[row_indexer, column_indexer]`</li>
</ul>
</div>

<div class="alert alert-success">
<b>EXERCISE</b>:

<p>
<ul>
    <li>Add the population density as column to the DataFrame.</li>
</ul>
</p>
Note: the population column is expressed in millions.
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing1.py

<div class="alert alert-success">
<b>EXERCISE</b>:

 <ul>
  <li>Select the capital and the population column of those countries where the density is larger than 300</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing2.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Add a column 'density_ratio' with the ratio of the population density to the average population density for all countries.</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing3.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Change the capital of the UK to Cambridge</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing4.py

<div class="alert alert-success">
<b>EXERCISE</b>:

 <ul>
  <li>Select all countries whose population density is between 100 and 300 people/kmÂ²</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing5.py

# Alignment on the index

<div class="alert alert-danger">

**WARNING**: **Alignment!** (unlike numpy)

 <ul>
  <li>Pay attention to **alignment**: operations between series will align on the index:  </li>
</ul> 

</div>

In [10]:
population = countries['population']
s1 = population[['Belgium', 'France']]
s2 = population[['France', 'Germany']]

In [11]:
s1

country
Belgium    11.3
France     64.3
Name: population, dtype: float64

In [12]:
s2

country
France     64.3
Germany    81.3
Name: population, dtype: float64

In [13]:
s1 + s2

country
Belgium      NaN
France     128.6
Germany      NaN
Name: population, dtype: float64

# Pitfall: chained indexing (and the 'SettingWithCopyWarning')

In [14]:
countries.loc['Belgium', 'capital'] = 'Ghent'

In [15]:
countries

                population    area    capital
country
Belgium               11.3   30510      Ghent
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [16]:
countries['capital']['Belgium'] = 'Antwerp'

/home/lucy/miniconda3/envs/FAN/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
countries

                population    area    capital
country
Belgium               11.3   30510    Antwerp
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [ ]:
countries[countries['capital'] == 'Antwerp']['capital'] = 'Brussels'

In [ ]:
countries

In [ ]:
countries.loc[countries['capital'] == 'Antwerp', 'capital'] = 'Brussels' 
countries

<div class="alert alert-info" style="font-size:120%">

<b>REMEMBER!</b><br><br>

The warning is given because chain indexing produces unpredictable results - it may return a copy or a view of the original data.

What to do when encountering the *value is trying to be set on a copy of a slice from a DataFrame* error?

 <ul>
  <li>Use `loc` instead of chained indexing **if possible**!</li>
  <li>Or `copy` explicitly if you don't want to change the original data.</li>
</ul>

</div>

# Exercises using the Titanic dataset

In [ ]:
df = pd.read_csv("../data/titanic.csv")

In [ ]:
df.head()

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all rows for male passengers and calculate the mean age of those passengers. Do the same for the female passengers. Do this now using `.loc`.</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing6.py

In [ ]:
# %load _solutions/pandas_03b_indexing7.py

We will later see an easier way to calculate both averages at the same time with groupby.