<p><font size="6"><b>03 - Pandas: Indexing and selecting data - Part I</b></font></p>

> *© 2016, Joris Van den Bossche and Stijn Van Hoey  (<mailto:jorisvandenbossche@gmail.com>, <mailto:stijnvanhoey@gmail.com>). Licensed under [CC BY 4.0 Creative Commons](http://creativecommons.org/licenses/by/4.0/)*

---

In [1]:
import pandas as pd

In [3]:
# redefining the example objects

# series
population = pd.Series({'Germany': 81.3, 'Belgium': 11.3, 'France': 64.3, 
                        'United Kingdom': 64.9, 'Netherlands': 16.9})
population

Germany           81.3
Belgium           11.3
France            64.3
United Kingdom    64.9
Netherlands       16.9
dtype: float64

In [4]:
# dataframe
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

# Changing the DataFrame index

We have mostly worked with DataFrames with the default *0, 1, 2, ... N* row labels. But, we can also set one of the columns as the index.

Setting the index to the country names:

In [3]:
countries = countries.set_index('country')
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

Reversing this operation, is `reset_index`:

In [ ]:
# countries.reset_index('country')

# Selecting data based on the index

## Systematic indexing with `loc` and `iloc`

We have used `[]` to obtain one column of a dataframe (e.g., `countries['area']`).

Pandas has the functions `.loc` and `.iloc` for indexing:
    
* `loc`: selection by (row and column) labels
* `iloc`: selection by position (like numpy)

Both `loc` and `iloc` use the following pattern:

`df.loc[ <selection of the rows> , <selection of the columns> ]`.

This 'selection of the rows / columns' can be:

* a single label
* a list of labels
* a slice or
* a boolean mask.

`loc` and `iloc` prevent any ambiguity when indexing and it is the preferred way to index in pandas. One of pandas' basic features is the labeling of rows and columns, but this makes indexing also a bit more complex compared to numpy. 

We now have to distuinguish between:


- selection by **label** (using the row and column names)
- selection by **position** (using integers)

This is becomes very important if the row or column labels are numbers. For example, `countries` has the numbers 0 to n-1 as the index, so there is no ambiguity here:

In [5]:
countries

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

However, if we changed the index to be different numbers:

In [9]:
countries.set_index(pd.Index([2,3,1,6,4]))

          country  population    area    capital
2         Belgium        11.3   30510   Brussels
3          France        64.3  671308      Paris
1         Germany        81.3  357050     Berlin
6     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

If you use numbers to index here, e.g., `countries[2]` pandas does not know if you mean the 2nd row or if you want the row that is labeled `2`. These are different rows!

This is why `loc` and `iloc` are important. Using `loc` indicates that we want to use the row label/index and `iloc` indicates that we want to use position.

## `loc`

Selecting a single element:

In [4]:
countries.loc['Germany', 'area']

357050

But the row or column indexer can also be a list, slice, boolean array (see next section), ..

In [5]:
countries.loc['France':'Germany', ['area', 'population']]

           area  population
country
France   671308        64.3
Germany  357050        81.3

<div class="alert alert-danger">
<b>NOTE</b>:

 <ul>
  <li>Unlike slicing in numpy, the end label is **included**!</li>
</ul>
</div>

In [13]:
countries.loc[countries['area'] > 100000]

          country  population    area capital
1          France        64.3  671308   Paris
2         Germany        81.3  357050  Berlin
4  United Kingdom        64.9  244820  London

## Useful functions for boolean indexing:

The `isin` method of Series is very useful to select rows that may contain certain values:

In [16]:
countries['capital'].isin(['Berlin', 'London'])

0    False
1    False
2     True
3    False
4     True
Name: capital, dtype: bool

This can then be used to filter the dataframe with boolean indexing:

In [17]:
countries['capital'].isin(['Berlin', 'London'])

0    False
1    False
2     True
3    False
4     True
Name: capital, dtype: bool

In [21]:
countries.loc[countries['capital'].isin(['Berlin', 'London']),]

          country  population    area capital
2         Germany        81.3  357050  Berlin
4  United Kingdom        64.9  244820  London

Python string methods such as `startswith`, `replace` etc, have a pandas version - `str.startswith` etc.

In [19]:
countries['capital'].str.startswith('B')

0     True
1    False
2     True
3    False
4    False
Name: capital, dtype: bool

In [23]:
countries.loc[countries['capital'].str.startswith('B')]

   country  population    area   capital
0  Belgium        11.3   30510  Brussels
2  Germany        81.3  357050    Berlin

For an overview of all string methods, see: http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling

# Exercises using the Titanic dataset

In [26]:
df = pd.read_csv("../data/titanic.csv")

In [ ]:
df.head()

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all the rows that contain male passengers and calculate the mean age of those passengers. Do the same for the female passengers.</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03a_selecting_data1.py
males = df.loc[df['Sex'] == 'male', :]

In [ ]:
# %load _solutions/pandas_03a_selecting_data2.py

In [49]:
# %load _solutions/pandas_03a_selecting_data3.py

27.915708812260537

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select the passengers that are between 30 and 40 years old?</li>
</ul>
</div>

In [55]:
# %load _solutions/pandas_03a_selecting_data6.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Split the 'Name' column on the `,` extract the first part (the surname), and add this as new column 'Surname' .</li>
</ul>

<br>
Tip: try it first on a single string (and for this, check the `split` method of a string), and then try to 'apply' this on each row.

</div>

In [62]:
# %load _solutions/pandas_03a_selecting_data7.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all passenger that have a surname starting with 'Williams'.</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03a_selecting_data8.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all rows for the passengers with a surname of more than 15 characters.</li>
</ul>
    
</div>

In [59]:
# %load _solutions/pandas_03a_selecting_data9.py

---

## `iloc`

Selecting by position with `iloc` works similar as **indexing numpy arrays**:

Remember the syntax: `start:stop:step`

In [14]:
countries.iloc[0:4:2,1:3]

   population    area
0        11.3   30510
2        81.3  357050

Next let's make a copy of our dataframe:

In [15]:
countries2 = countries.copy()

The `.copy()` function makes a copy of the dataframe. Simply assigning (e.g., `countries2 = countries`) gives you a view NOT a copy, like with numpy arrays.

---

We can also use the different indexing methods can also be used to **assign data**:

In [8]:
countries2.loc['Belgium':'Germany', 'population'] = 10

In [9]:
countries2

                population    area    capital
country
Belgium               10.0   30510   Brussels
France                10.0  671308      Paris
Germany               10.0  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

<div class="alert alert-info" style="font-size:120%">
<b>REMEMBER</b>: <br><br>

Advanced indexing with **loc** and **iloc**

 <ul>
  <li>**loc**: select by label: `df.loc[row_indexer, column_indexer]`</li>
  <li>**iloc**: select by position: `df.iloc[row_indexer, column_indexer]`</li>
</ul>
</div>

<div class="alert alert-success">
<b>EXERCISE</b>:

<p>
<ul>
    <li>Add the population density as column to the DataFrame.</li>
</ul>
</p>
Note: the population column is expressed in millions.
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing1.py

<div class="alert alert-success">
<b>EXERCISE</b>:

 <ul>
  <li>Select the capital and the population column of those countries where the density is larger than 300</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing2.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Add a column 'density_ratio' with the ratio of the population density to the average population density for all countries.</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing3.py

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Change the capital of the UK to Cambridge</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing4.py

<div class="alert alert-success">
<b>EXERCISE</b>:

 <ul>
  <li>Select all countries whose population density is between 100 and 300 people/km²</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing5.py

# Alignment on the index

<div class="alert alert-danger">

**WARNING**: **Alignment!** (unlike numpy)

 <ul>
  <li>Pay attention to **alignment**: operations between series will align on the index:  </li>
</ul> 

</div>

In [10]:
population = countries['population']
s1 = population[['Belgium', 'France']]
s2 = population[['France', 'Germany']]

In [11]:
s1

country
Belgium    11.3
France     64.3
Name: population, dtype: float64

In [12]:
s2

country
France     64.3
Germany    81.3
Name: population, dtype: float64

In [13]:
s1 + s2

country
Belgium      NaN
France     128.6
Germany      NaN
Name: population, dtype: float64

# Pitfall: chained indexing (and the 'SettingWithCopyWarning')

In [14]:
countries.loc['Belgium', 'capital'] = 'Ghent'

In [15]:
countries

                population    area    capital
country
Belgium               11.3   30510      Ghent
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [16]:
countries['capital']['Belgium'] = 'Antwerp'

/home/lucy/miniconda3/envs/FAN/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
countries

                population    area    capital
country
Belgium               11.3   30510    Antwerp
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [ ]:
countries[countries['capital'] == 'Antwerp']['capital'] = 'Brussels'

In [ ]:
countries

In [ ]:
countries.loc[countries['capital'] == 'Antwerp', 'capital'] = 'Brussels' 
countries

<div class="alert alert-info" style="font-size:120%">

<b>REMEMBER!</b><br><br>

The warning is given because chain indexing produces unpredictable results - it may return a copy or a view of the original data.

What to do when encountering the *value is trying to be set on a copy of a slice from a DataFrame* error?

 <ul>
  <li>Use `loc` instead of chained indexing **if possible**!</li>
  <li>Or `copy` explicitly if you don't want to change the original data.</li>
</ul>

</div>

# Exercises using the Titanic dataset

In [ ]:
df.head()

<div class="alert alert-success">

<b>EXERCISE</b>:

 <ul>
  <li>Select all rows for male passengers and calculate the mean age of those passengers. Do the same for the female passengers. Do this now using `.loc`.</li>
</ul>
</div>

In [ ]:
# %load _solutions/pandas_03b_indexing6.py

In [ ]:
# %load _solutions/pandas_03b_indexing7.py

We will later see an easier way to calculate both averages at the same time with groupby.